.ptx-banner .byline {
  display: none;
}

.buttonAskCompletion {
  display: none !important;
}

.ptx-content-footer {
  padding-top: 0;

  .button {
    border-radius: 3px;
  }
}

#scprogresscontainer {
  margin-top: 2em !important;
  border: 1px solid var(--page-border-color) !important;
  /* max-width: 100% !important; */
  padding: 10px 20px;
  background: var(--footer-background);
  border-radius: 3px;
}

#subchapterprogress {
  height: 1em !important;
  margin-top: 0.25em;
}

.ptx-runestone-container #subchapterprogress>div {
  background: #3f4519 !important;
}

.ptx-runestone-container #subchapterprogress {
  height: 1em !important;
}

section.exercises #scprogresscontainer{
  display: none;
}

.ptx-content .ptx-runestone-container .runestone {
  border-radius: 3px
}

:root.dark-mode {
.remark-like {
  background-color: #303030;
}
}

.insight:not(.knowl__content,.born-hidden-knowl) {
  border-left-color: #aab300;
}

.warning:not(.knowl__content,.born-hidden-knowl) {
  border-left-color: #c94d00;
}

:root:not(.dark-mode) {
  .insight:not(.knowl__content,.born-hidden-knowl) {
    background-color: #f6faef;
  }

  .warning:not(.knowl__content,.born-hidden-knowl) {
    background-color: #fbf6f4;
  }
}

/* TEMPORARY CENTERING FOR INTERACTIVES  */
@container ptx-main (width > 821px) {
    :is(.timedAssessment,.theorem-like,.definition-like,.example-like,.exercise-like,.project-like,.remark-like,.openproblem-like,.openproblems-like,.computation-like,.knowl__content):has(.wide-iframe) {
        --max-width: min((100cqw - 2 * 48px), 10000px);
        min-width: 100%;
        clear: right;
        width: var(--max-width);
        max-width: var(--max-width);
        margin-left: calc(-.5 * (100cqw - 821px));
    }
}


/* TEMPORARY SPACING FIXES FOR RUNESTONE ELEMENTS */
@layer spacing {
  .runestone :is(.exercise-statement, .exercise-content) > *:not(:first-child) {
    margin-top: 1em;
  }
  .ptx-runestone-container + .solutions {
    margin-top: 0.5em;
  }
}

/* TEMPORARY FIX FOR CODEBOX */
.code-box {
  background: var(--page-color);
}

.line-highlight {
    max-width: 100%;
}